.footer{
   
    color: rgb(3, 3, 3);
   
}
.social{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.middle{
    display: flex;
    justify-content:space-around;
    background-color: aliceblue;
    padding: 2%;
}
.middle h1{
    font-size:xx-large;
    font-weight: bolder;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.middle h3{
    font-size:large;
    font-weight:lighter;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(121, 121, 121);
}

.bottom h3{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding: 0%;
    margin: 0%;
}
