.item-list-container {
  width: 100%;
  text-align: center; 
  background-color: #E6E6FA;
  padding-top: 50px;
  padding-bottom: 50px ;

}
.item-list {
margin-left: 90px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 

}

.item-container {
  border: 1px solid white;
  border-radius: 11px;
 
  padding: 20px;
  margin: 10px;
  width: 390px; 
  background-color: white;
  display: flex; 
  align-items: center; 
  justify-content: space-between; }

.itemimg {
  
  max-width: 180px; 
  transition:transform 0.2s ease;
}

.itemimg:hover{
  transform: scale(1.1); 
}

.item-details {
  
  flex: 1;
 }
.prname{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 26px;
}
.price {
  color: #007acc;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price {
  transition: color 0.3s ease; /* Add a transition for the "color" property with a duration of 0.3 seconds and an ease timing function */
}

.price:hover {
  color: red; /* Change the text color on hover (you can adjust this to your preferred effect) */
}
.description{
  margin-left: 17px;
  font-family: 'Times New Roman', Times, serif;
  
}
.item-details h3 {
  color: black; 
  margin-left: 5px;
  margin-bottom: 47px;
  /* Change the item name color to blue */
}

.bottom-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 15px;
   /* Adjust the margin as needed */
}

.carted,
.liked {
  margin-left: 20px; 
  /* Adjust the margin as needed to create space between the icons */
}
.carted:hover {
  color: #4FFFB0; /* Change the color to red on hover */
}

.liked:hover {
  color: red; /* Change the color to a different shade of pink on hover */
}
